.telegramScreen {
  width: 100%;
  background: #171717;
  color: #dcdcdc;
  height: 100vh;
  overflow: auto;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
