.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-field-container {
  position: relative;
}

.input-flex-container {
  display: flex;
}

.button-container {
  margin-top: 8px;
}

.password-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.password-input-container {
  position: relative;
}

.password-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4b5563;
  color: white;
  padding: 8px;
  width: 100%;
}

.password-input:focus {
  outline: none;
  border-color: #e91e63;
}

.password-input-error {
  border-color: #ef4444;
}

.password-toggle-button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
